name: Pull_Ceph_18_2_0_Slim
on: [workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        with:
          platforms: arm64

      - name: Pull and Verify
        run: |
          # 尝试拉取 18.2.0 精确版（这个标签在 Docker Hub 官方库里是存在的）
          docker pull --platform linux/arm64 openeuler/ceph:18.2.0
          
          echo "========= 验货环节：确认版本信息 ========="
          # 模拟运行检查，看看是不是 18.2.0
          docker run --rm --platform linux/arm64 openeuler/ceph:18.2.0 ceph -v
          
          echo "========= 导出镜像 ========="
          # 导出并打标
          docker tag openeuler/ceph:18.2.0 ceph-arm64-18.2.0-64k:latest
          docker save ceph-arm64-18.2.0-64k:latest | gzip > ceph_18.2.0_slim.tar.gz

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ceph-18-2-0-package
          path: ceph_18.2.0_slim.tar.gz
