name: Get_Stable_18_2_0
on: [workflow_dispatch]
jobs:
  pull:
    runs-on: ubuntu-latest
    steps:
      - name: Pull from SWR
        run: |
          # 这是一个稳定的生产级标签，体积绝对不会是 12G
          docker pull --platform linux/arm64 swr.cn-north-4.myhuaweicloud.com/openeuler/ceph:22.03-lts-sp3
          docker tag swr.cn-north-4.myhuaweicloud.com/openeuler/ceph:22.03-lts-sp3 ceph-stable-18:latest
          docker save ceph-stable-18:latest | gzip > ceph_stable.tar.gz
      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: ceph-stable
          path: ceph_stable.tar.gz
