name: Pull_Ceph_Production_Version
on: [workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Pull and Verify
        run: |
          # 1. 使用 22.03-lts 标签，这是官方瘦身后的生产镜像
          docker pull --platform linux/arm64 hub.atomgit.com/openeuler/ceph:22.03-lts
          
          # 2. 打印版本（最后确认一眼）
          docker run --rm --platform linux/arm64 hub.atomgit.com/openeuler/ceph:22.03-lts ceph -v
          
          # 3. 压缩导出（这个包很小，绝对不会报磁盘满）
          docker tag hub.atomgit.com/openeuler/ceph:22.03-lts ceph-18.2.7-arm64:latest
          docker save ceph-18.2.7-arm64:latest | gzip > ceph_prod_arm64.tar.gz
          
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ceph-prod-package
          path: ceph_prod_arm64.tar.gz
