name: Pull_Ceph_18_2_7_DockerHub
on: [workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Pull and Save Image
        run: |
          # 1. 改从 Docker Hub 官方源拉取，这个地址通常不需要登录
          docker pull --platform linux/arm64 openeuler/ceph:24.03-lts
          
          # 2. 打标签
          docker tag openeuler/ceph:24.03-lts ceph-18.2.7-64k:latest
          
          # 3. 导出
          docker save ceph-18.2.7-64k:latest | gzip > ceph_arm64_final.tar.gz
          
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ceph-package
          path: ceph_arm64_final.tar.gz
